<% content_for :title, "Forgot Password" %>
<%= javascript_include_tag "forgot_password" %>

<div class="section-form">
  <h1>Reset Password</h1>
  <form action="" v-on:submit.prevent="recoverPassword()" accept-charset="UTF-8" method="post">
    <table class="form-table">
      <tr>
        <td><span>Email:</span></td>
        <td><input type="email" v-model="email" :class="validateEmail"></td>
      </tr>
      <tr>
        <td> </td>
        <td class="warning-td">
          <span :class="validateEmail" class="warning-span">Please enter valid email.</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" :class="validateForgotSubmit">Send</button></td>
      </tr>
    </table>
  </form>
</div>