<% content_for :title, "Register" %>
<%= javascript_include_tag "register" %>

<div class="section-form">
  <h1>Register</h1>
  <form action="" v-on:submit.prevent="submitRegister" accept-charset="UTF-8" method="post">
    <table class="form-table">
      <tr>
        <td><span>Username:</span></td>
        <td><input type="text" v-model="username"></td>
      </tr>
      <tr>
        <td> </td>
        <td class="warning-td">
        </td>
      </tr>
      <tr>
        <td><span>Email:</span></td>
        <td><input type="email" v-model="email" :class="validateEmail"></td>
      </tr>
      <tr>
        <td> </td>
        <td class="warning-td">
          <span :class="validateEmail" class="warning-span">Please enter valid email.</span>
        </td>
      </tr>
      <tr>
        <td><span>Password:</span></td>
        <td><input type="password" v-model="password" :class="validatePassword"></td>
      </tr>
      <tr>
        <td> </td>
        <td class="warning-td">
          <span :class="validatePassword" class="warning-span">Minimum length is 5.</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" :class="validateSubmit">Register</button></td>
      </tr>
    </table>
  </form>
</div>