@import 'application';

.search {
  background-color: $light-grey;
  height: 33px;
  border-radius: 4px;
  margin-top: 20px;
  background-image: image-url("search.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;
  padding-top: 7px;
  margin-bottom: 20px;

  input {
    background: none;
    border: none;
    font-size: 1.125em;
    color: $dark-grey;
    width: 90%;
  }

  input:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: $dark-grey;
  }
}

.filter {
  text-align: right;

  a {
    font-size: 0.875em;
    color: $red;
    text-decoration: underline;
  }

  .selected {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;

  li {
    list-style: none;
    margin-top: 15px;
    margin-left: 5px;
  }
}

.item-detail {
  float: left;
  width: 100%;
  margin-top: 10px;


}

.item-left {
  float: left;
}

.point {
  float: left;
  border: 1px solid $very-light-grey;
  width: 40px;
  height: 70px;
  border-radius: 4px;

  img {
    margin-left: 13px;
    margin-top: 10px;
    cursor: pointer;
  }

  a {
    display: block;
  }

  span {
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid $very-light-grey;
    padding-top: 10px;
    width: 40px;
    float: left;
  }
}

.item-right {
  margin-left: 50px;
  padding-top: 3px;

  h1 {
    margin-top: 3px;
    font-size: 1.500em;
    margin-bottom: 3px;
    font-weight: 300;
  }

  h1 a {
    text-decoration: none;
  }
}

.url-base {
  font-size: 0.750em;
  color: #CBCBCB;
  padding-left: 1px;
  margin-top: 2px;
}

.link-info {
  font-size: 0.813em;
  color: $dark-grey;
  padding-left: 1px;
}

.comment-count {
  color: $red;
  text-decoration: underline;
}

.page-nav {
  margin-top: 10px;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  background-color: $light-grey;
}

.previous {
  float: left;
  color: #BDBDBD;
  font-size: 0.875em;
  background: none;
  border: none;
  cursor: pointer;
}

.next {
  float: right;
  color: #BDBDBD;
  font-size: 0.875em;
  background: none;
  border: none;
  cursor: pointer;
}